* {
    box-sizing:border-box;
}

html, body {
    height: 100%;
    overflow: hidden;
}

#root {
    height: 95%;
    background-image: url('../public/refridgerator.png');
    background-size: 100% 100%;
    /* overflow: hidden; */
}

.letter{
    display: inline-block;
    font-family: 'Candal', sans-serif;
    font-size: 100px;
    text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black; 
    margin: 0px;
    padding: 0px;
    position: absolute;
    background-color: none;
    letter-spacing: -5px;
}

.dropdown-content {
    display: none;
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    left: 0;
  }

.dropdown-content a {
    color: black;
    padding: 6px 8px;
    text-decoration: none;
    display: block;
}

.letter-content {
position: relative;
display: inline-block;
}

.letter-content:hover .dropdown-content {
    display: block;
}

a:active {    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

header {
    display: flex;
    background-color: whitesmoke;

    justify-content: space-between;
}

header a {
    font-family: sans-serif;
    font-size: 25px;
    height: 0;
    margin-left: 15px;
    line-height: 55px;
}

header img {
    height: 60px;
}

header img:hover{
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

header a:hover{
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}